@inherits LayoutComponentBase

<PageTitle>ZohaSite</PageTitle>
<link href="css/mainpage.css" rel="stylesheet" />
<div>
    @*<div class="sidebar">
    <NavMenu />
    </div>*@

    <div class="header">
        <div class="header_conteyner">
            huy
        </div>

    </div>
    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
