@inherits LayoutComponentBase

<PageTitle>Fateev's Drugs'</PageTitle>


<div>
    @*<div class="sidebar">
    <NavMenu />
    </div>*@
    <div class="header">
        <div class="logo">
            <h1 class="textlogomargin">Fateev's Drugs</h1>
        </div>
        <div class="header_conteyner">
            <NavLink href="/Products">
                <button class="btn btn-dark btnpading">All</button>
            </NavLink>
            <NavLink href="/LightDrugs">
                <button class="btn btn-dark">Light Drugs</button>
            </NavLink>
            <NavLink href="/Pcihodel">
                <button class="btn btn-dark">Psychotropics</button>
            </NavLink>
            <NavLink href="/Smoking">
                <button class="btn btn-dark">Some Stuff For Smoking</button>
            </NavLink>
            <NavLink href="/Basket">
                <button class="btn btn-dark btnBasket">Basket</button>
            </NavLink>
            <NavLink href="/reg">
                <button class="btn btn-dark btnBasket">Admin</button>
            </NavLink>
        </div>

    </div>
    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

  
    public void AddProduct()
    {


        


    }


}









