
@page "/Products"
@inject Blazored.LocalStorage.ILocalStorageService session;


<div class="mainscreen">
@foreach (var item in EtoBasa.productcs)
{

    <div class="card">
        <div class="picturBox">
            <img class="picture" src="@item.Img">

        </div>
        <div class="btnNnfText">
            <h5 class="text">@item.Name</h5>
            <button class="btn btn-dark">Add To Basket</button>
            <h5 @onclick="((args)=>AddToCart(item.Id))" class="btnNnfText">@item.Price</h5>
        </div>

    </div>

    
}
</div>


@code{

    int clientid;
    string login = string.Empty;
    public async void AddToCart(int ID)
    {
        login = await session.GetItemAsync<string>("client");
        foreach (var item in EtoBasa.clients)
        {
            if (item.Login==login)
            {
                clientid = item.Id;
            }
        }
        EtoBasa.AddCart(new ZohaSite.Cart {Name = EtoBasa.productcs[ID-1].Name, Price = EtoBasa.productcs[ID-1].Price, Img = EtoBasa.productcs[ID-1].Img,  ProductID = ID-1, UserID = clientid });
        EtoBasa.InicializeLists();
    }





}

