
@page "/reg"
@inherits LayoutComponentBase
@inject NavigationManager nav;
@inject Blazored.LocalStorage.ILocalStorageService session;


<div class="container">
    <h1>Login</h1>
    <hr>
    <label for="email"><b>Login</b></label>
    <input @bind-value="login" type="text" placeholder="Enter Login" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input @bind-value="password" type="password" placeholder="Enter Password" name="psw" required>
    <hr>
    <button @onclick="((args)=>IsAdmin(login))" class="btn-dark btnlogin">Login</button>
    <NavLink href="/registration2">
        <button type="submit" class="btn btn-dark btnlogin">Do not Have An Accaunt?</button>
    </NavLink>
</div>




@code {

    string login = string.Empty;
    string password = string.Empty;
    public async void IsAdmin(string login)
    {
        await session.SetItemAsync("user", login);
        foreach (var item in EtoBasa.clients)
        {
            if (item.Login == login)
            {
                if (Password.IsUserPassValid(password, item.Pass))
                {
                    if (item.IsAdmin)
                    {

                        nav.NavigateTo("/adminpanel/");

                    }
                }

            }

        }



    }







}
