@page "/LightDrugs"


<div class="mainscreen">
    @foreach (var item in EtoBasa.productcs)
    {
        if (item.Category=="lightdrugs")
        {
            <div class="card">
                <div class="picturBox">
                    <img class="picture" src="@item.Img">

                </div>
                <div class="btnNnfText">
                    <h5 class="text">@item.Name</h5>
                    <button class="btn btn-dark">Add To Basket</button>
                    <h5 class="btnNnfText">@item.Price</h5>
                </div>

            </div>
        }




    }
</div>



@code {







}

