
@page "/LightDrugs"

<link href="css/product.css" rel="stylesheet" />
<div class="mainscreen">
@foreach (var item in @productcs)
{

    <div class="card">
        <div class="picturBox">
            <img class="picture" src="@item.Img">

        </div>
        <div class="btnNnfText">
            <h5 class="text">@item.Name</h5>
            <button class="btn btn-dark">Add To Basket</button>
            <h5 class="btnNnfText">@item.Price</h5>
        </div>

    </div>

    
}
</div>



@code{

    

    public static List<Productc> productcs = new List<Productc>(){
        new Productc(1,"Mashrum","50$","https://i.pinimg.com/236x/24/03/c1/2403c16257bfc1ee026a61409f9722e1.jpg"),
        new Productc(1,"Mashrum","50$","https://i.pinimg.com/236x/24/03/c1/2403c16257bfc1ee026a61409f9722e1.jpg"),
        new Productc(1,"Mashrum","50$","https://i.pinimg.com/236x/24/03/c1/2403c16257bfc1ee026a61409f9722e1.jpg"),
        new Productc(1,"Mashrum","50$","https://i.pinimg.com/236x/24/03/c1/2403c16257bfc1ee026a61409f9722e1.jpg"),
        new Productc(1,"Mashrum","50$","https://i.pinimg.com/236x/24/03/c1/2403c16257bfc1ee026a61409f9722e1.jpg"),
        new Productc(1,"Mashrum","50$","https://i.pinimg.com/236x/24/03/c1/2403c16257bfc1ee026a61409f9722e1.jpg"),
        new Productc(1,"Mashrum","50$","https://i.pinimg.com/236x/24/03/c1/2403c16257bfc1ee026a61409f9722e1.jpg"),
        new Productc(1,"Mashrum","50$","https://i.pinimg.com/236x/24/03/c1/2403c16257bfc1ee026a61409f9722e1.jpg"), 
        new Productc(2,"Bong","100$","https://www.p4headshop.com.ua/image/cache/catalog/1tovarbong/Diffuse%20Coil/1-700x700.jpg"),
        new Productc(2,"Bong","100$","https://www.p4headshop.com.ua/image/cache/catalog/1tovarbong/Diffuse%20Coil/1-700x700.jpg"),
        new Productc(2,"Bong","100$","https://www.p4headshop.com.ua/image/cache/catalog/1tovarbong/Diffuse%20Coil/1-700x700.jpg"),
        new Productc(2,"Bong","100$","https://www.p4headshop.com.ua/image/cache/catalog/1tovarbong/Diffuse%20Coil/1-700x700.jpg"),
        new Productc(2,"Bong","100$","https://www.p4headshop.com.ua/image/cache/catalog/1tovarbong/Diffuse%20Coil/1-700x700.jpg"),
        new Productc(2,"Bong","100$","https://www.p4headshop.com.ua/image/cache/catalog/1tovarbong/Diffuse%20Coil/1-700x700.jpg"),
        new Productc(2,"Bong","100$","https://www.p4headshop.com.ua/image/cache/catalog/1tovarbong/Diffuse%20Coil/1-700x700.jpg"),
        new Productc(3,"Weed","20$","https://play-lh.googleusercontent.com/jkU2nz-D5vlKyS2Q_GPSW8bFMZ_6Q4HFkaOQnnQST2oH028tqmOBW8CyuszqU1zF5vhq"),
        new Productc(3,"Weed","20$","https://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/WEED-WEBSITE-MAIN_vrocly/best-weed-smoking-tips.jpg"),
        new Productc(3,"Weed","20$","https://play-lh.googleusercontent.com/jkU2nz-D5vlKyS2Q_GPSW8bFMZ_6Q4HFkaOQnnQST2oH028tqmOBW8CyuszqU1zF5vhq"),
        new Productc(3,"Weed","20$","https://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/WEED-WEBSITE-MAIN_vrocly/best-weed-smoking-tips.jpg"),
        new Productc(3,"Weed","20$","https://play-lh.googleusercontent.com/jkU2nz-D5vlKyS2Q_GPSW8bFMZ_6Q4HFkaOQnnQST2oH028tqmOBW8CyuszqU1zF5vhq"),
        new Productc(3,"Weed","20$","https://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/WEED-WEBSITE-MAIN_vrocly/best-weed-smoking-tips.jpg"),
        new Productc(3,"Weed","20$","https://play-lh.googleusercontent.com/jkU2nz-D5vlKyS2Q_GPSW8bFMZ_6Q4HFkaOQnnQST2oH028tqmOBW8CyuszqU1zF5vhq"),
        new Productc(3,"Weed","20$","https://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/WEED-WEBSITE-MAIN_vrocly/best-weed-smoking-tips.jpg"),
        new Productc(3,"Weed","20$","https://play-lh.googleusercontent.com/jkU2nz-D5vlKyS2Q_GPSW8bFMZ_6Q4HFkaOQnnQST2oH028tqmOBW8CyuszqU1zF5vhq"),
    };




}

