@page "/Registration2"
@inject NavigationManager nav;


<form action="action_page.php">
  <div class="container">
    <h1>Register</h1>
    <hr>

    <label for="email"><b>Login</b></label>
    <input @bind-value="login" type="text" placeholder="Enter Login" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input @bind-value="password" type="password" placeholder="Enter Password" name="psw" required>

    <hr>
    <button type="submit" class="btn btn-dark btnlogin">Register</button>
  </div>
</form>

@code 
{
    string login = string.Empty;
    string password = string.Empty;


     private void Registration()
    {
        EtoBasa.AddUser(login, password,false);
        nav.NavigateTo("/Registration/");
    }



}
