
@page "/adminpanel"
@inject NavigationManager nav;

<div>
    <button @onclick="AddNewProduct" class=" adminsbtn btn-dark btnlogin">AddProduct</button>
    <button @onclick="DelProduct" class=" adminsbtn btn-dark btnlogin">DelProduct</button>
    <button @onclick="DBClear" class=" adminsbtn btn-dark btnlogin">DelClient</button>
</div>


@code {
    public void AddNewProduct()
    {

        nav.NavigateTo("/addproduct/");

    }

    public void DelProduct()
    {

        nav.NavigateTo("/delprod/");


    }
    public void DBClear()
    {
        
        nav.NavigateTo("/clientclear/");

    }




}
